html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  color: #131516;
  font-family: sans-serif;
}

#root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: '.' '.';
}
